<%= content_tag :div, :class => 'spud_media_picker_item',
  'data-id' => media.id,
  'data-type' => (media.is_image? ? 'img' : 'file'),
  'data-url' => media.attachment_url,
  'data-name' => media.attachment_file_name,
  'data-size' => media.attachment_file_size,
  'data-lastmod' => media.attachment_updated_at.blank? == false ? media.attachment_updated_at.strftime("%l:%M %p, %D") : '' do %>
  <span class="spud_media_picker_item_thumb">
    <%= image_tag(media.image_from_type) %>
  </span>
  <span class="spud_media_picker_item_filename">
    <%= media.attachment_file_name %>
  </span>
<% end %>
