<html>
<head>
  <title>Media Picker</title>
  <%= stylesheet_link_tag 'admin/core/application' %>
  <%= stylesheet_link_tag 'admin/media/application' %>
  <%= javascript_include_tag 'admin/media/picker' %>
  <%= csrf_meta_tags %>
</head>
<body class="spud_media_picker">

  <div class="spud_media_picker_container">

    <div class="spud_media_picker_tabs">
      <a class="spud_media_picker_tab" href="#spud_media_picker_tab_upload">Upload</a>
      <a class="spud_media_picker_tab" href="#spud_media_picker_tab_choose">Choose</a>
      <a class="spud_media_picker_tab" href="#spud_media_picker_tab_advanced">Advanced</a>
    </div>

    <div class="spud_media_picker_tab_body spud_media_picker_tab_upload">
      <%= form_for :spud_media, :html => {:class => 'spud_media_picker_upload_form', :target => 'spud_media_picker_upload_target'} do |f| %>
        <%= f.label :attachment, 'Upload New File' %>
        <%= f.file_field :attachment%>
        <div class="progress spud_media_picker_upload_progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"style="width: 60%;"></div>
        </div>
        <div class="spud_media_picker_buttons">
          <%= f.submit 'Upload', :class => 'btn btn-xs btn-primary spud_media_picker_tab_upload_submit' %>
          <%= link_to 'Cancel', '#', :class => 'btn btn-xs btn-default spud_media_picker_button_cancel' %>
        </div>
      <% end %>
    </div>

    <div class="spud_media_picker_tab_body spud_media_picker_tab_choose">
      <div class="spud_media_picker_list">
        <%= render :partial => 'media', :collection => @media %>
      </div>
      <div class="spud_media_picker_details">
        <img src="" class="spud_media_picker_details_thumb" />
        <ul class="spud_media_picker_details_meta">
          <li>File Name: <span class="spud_media_picker_details_name"></span></li>
          <li>File Size: <span class="spud_media_picker_details_size"></span></li>
          <li>Last Modified: <span class="spud_media_picker_details_lastmod"></span></li>
        </ul>
      </div>
      <div class="spud_media_picker_buttons">
        <%= link_to 'Use Selected', '#', :class => 'btn btn-xs btn-primary spud_media_picker_button_use_selected' %>
        <%= link_to 'Cancel', '#', :class => 'btn btn-xs btn-default spud_media_picker_button_cancel' %>
      </div>
    </div>

    <div class="spud_media_picker_tab_body spud_media_picker_tab_advanced">
      <div class="spud_media_picker_option spud_media_picker_option_selected_file">
        <label>Selected File:</label>
        <input name="spud_media_picker_option_selected_file" type="text" disabled="disabled" />
      </div>
      <div class="spud_media_picker_option spud_media_picker_option_type">
        <label>Media Type:</label>
        <input name="spud_media_picker_option_type" type="text" disabled="disabled" />
      </div>
      <div class="spud_media_picker_option spud_media_picker_option_target">
        <label>Open Link In:</label>
        <select name="spud_media_picker_option_target">
          <option value="">Same Window</option>
          <option value="_blank">New Window</option>
        </select>
      </div>
      <div class="spud_media_picker_option spud_media_picker_option_text">
        <label>Link Text:</label>
        <input name="spud_media_picker_option_text" type="text" />
      </div>
      <div class="spud_media_picker_option spud_media_picker_option_float">
        <label>Float Image:</label>
        <select name="spud_media_picker_option_float">
          <option value="none">Normal</option>
          <option value="left">Left</option>
          <option value="right">Right</option>
        </select>
      </div>
      <div class="spud_media_picker_option spud_media_picker_option_title">
        <label>Title:</label>
        <input name="spud_media_picker_option_title" type="text" />
      </div>
      <div class="spud_media_picker_option spud_media_picker_option_alt">
        <label>Alt Text:</label>
        <input name="spud_media_picker_option_alt" type="text" />
      </div>
      <div class="spud_media_picker_option spud_media_picker_option_dimensions">
        <label>Dimensions:</label>
        <input name="spud_media_picker_option_dimension_w" type="text" placeholder="auto" /> px by <input name="spud_media_picker_option_dimension_h" type="text" placeholder="auto" /> px
      </div>
      <div class="spud_media_picker_buttons">
        <%= link_to 'Insert', '#', :class => 'btn btn-xs btn-primary spud_media_picker_button_insert' %>
        <%= link_to 'Cancel', '#', :class => 'btn btn-xs btn-default spud_media_picker_button_cancel' %>
      </div>
    </div>

  </div>

  <iframe id="spud_media_picker_upload_target" name="spud_media_picker_upload_target" style="display:none;"></iframe>

  <script>
    $(document).ready(spud.admin.mediapicker.init);
  </script>

</body>
</html>
