<%= tb_form_errors(@media) %>

<div id="spud_media_cropper_toolbar">
  <%= form_for @media, :url => admin_medium_path(@media) do |f| %>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :x %>
      <%= f.text_field :crop_x %>
    </div>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :y %>
      <%= f.text_field :crop_y %>
    </div>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :width %>
      <%= f.text_field :crop_w %>
    </div>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :height %>
      <%= f.text_field :crop_h %>
    </div>

    <div class="spud_media_cropper_toolbar_item">
      <%= label_tag :scale, 'Size' %>
      <%= f.hidden_field :crop_s %>
      <a href="#" id="spud_media_cropper_resize_up"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      <a href="#" id="spud_media_cropper_resize_down"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
    </div>

    <div id="spud_media_cropper_toolbar_actions">
      <%= f.submit 'Crop', :id => 'spud_media_cropper_submit', :class => 'btn btn-xs btn-primary' %>
      <%= link_to "Don't Crop", admin_media_path, :class => 'btn btn-xs' %>
    </div>
  <% end %>
</div>

<div id="spud_media_cropper_outer">
  <div id="spud_media_cropper" align="center">
      <img src="<%= @media.attachment_url(:original) %>" id="spud_media_cropper_image" />
  </div>
</div>

<script type="text/javascript">
  $(window).load(spud.admin.media.edit);
</script>