<%= content_for :data_controls do %>
	<%= link_to "Upload File", new_admin_medium_path, :class => "btn btn-primary", :title => "Upload File" %>
<% end %>

<%= content_for :detail do %>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<tbody>
				<% @media.each do |media| %>
					<tr>
						<td>
							<%= image_tag(media.image_from_type, :class => "size-50-thumb") %>
							<%= link_to media.attachment_file_name, media.attachment_url %>
						</td>
						<td class="table-actions">
							<% if media.is_image? %>
								<%= link_to 'Crop', edit_admin_medium_path(media.id), :class => 'btn btn-sm btn-default' %>
							<% end %>
							<%= link_to 'Remove', admin_medium_path(media), :method => :delete, :class => 'btn btn-sm btn-danger', :data => {:confirm => "Are you sure you want to remove this file?"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<%= will_paginate @media, :renderer => BootstrapPagination::Rails %>
<% end %>
