<%=form_for @media, :url => admin_media_path, :builder => TbCore::FormBuilder, :html => {:class => "form-horizontal", :multipart => true} do |f|%>
  <%= tb_form_error_header(@media) %>
  <%= f.tb_file_field :attachment %>
  <%= f.tb_save_buttons('File', admin_media_path) %>
<% end %>
