.spud_media_picker{
  background: white;
  font: normal 12px/12px sans-serif;
}
.spud_media_picker_container{
  padding: 10px;
}

/* Picker Tabs
-------------- */
.spud_media_picker_tabs{
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px;
}
.spud_media_picker_tab{
  display: inline-block;
  font: normal 12px/22px sans-serif;
  padding: 0 5px;
  margin: 0 5px 0 0;
  position: relative;
  top: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spud_media_picker_tab_active{
  border: 1px solid #ccc;
  border-bottom: 1px solid white;
}
.spud_media_picker_tab_body{
  display: none;
  height: 200px;
  padding-bottom: 40px;
  position: relative;
}

/* Buttons
------------ */
.spud_media_picker_buttons{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.spud_media_picker_buttons a, .spud_media_picker_buttons input, .spud_media_picker_buttons button{
  float: right;
  margin-left: 5px;
}
.spud_media_picker label{
  font-size: 12px;
}

/* Uploader 
------------ */
.spud_media_picker_upload_progress{
  margin: 10px 0 0;
  display: none;
}
.spud_media_picker_upload_progress .bar{
  width: 0;
}

/* Picker List
--------------- */
.spud_media_picker_list{
  height: 100%;
  width: 200px;
  overflow: auto;
  border: 1px solid #ccc;
  float: left;
  margin: 0 0 10px 0;
}
.spud_media_picker_item{
  cursor: pointer;
  padding: 3px;
  font: normal 12px/20px sans-serif;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spud_media_picker_item:last-child{
  border-bottom: none;
}
.spud_media_picker_item:last-child{
  border-bottom: 1px solid #ccc;
}
.spud_media_picker_item:hover{
  background: #E6E6E6;
}
.spud_media_picker_item_selected{
  background: #D6E4F5;
}
.spud_media_picker_item img{
  max-width: 20px;
  max-height: 20px;
  float: left;
  margin: 0 4px 0 0;
}

/* Picker  Details
-------------------- */
.spud_media_picker_details{
  margin: 0 0 0 220px;
  display: none;
  overflow-x: hidden;
}
.spud_media_picker_details_thumb{
  max-width: 100px;
  max-height: 100px;
}
.spud_media_picker_details_meta{
  font: bold 11px sans-serif;
  margin: 10px 0 0;
  padding: 0 0 0 15px;
  white-space: nowrap;
}
.spud_media_picker_details_meta span{
  font-weight: normal;
}

/* Advanced Options 
------------------- */
.spud_media_picker_tab_advanced{

}
.spud_media_picker_option{
  margin: 10px 0;
}
.spud_media_picker_tab_advanced label{
  width: 100px;
  padding: 0 5px 0 0;
  text-align: right;
}
.spud_media_picker_tab_advanced label, .spud_media_picker_tab_advanced select, .spud_media_picker_tab_advanced input{
  display: inline-block;
  margin: 0;
}
.spud_media_picker_tab_advanced select{
  font: normal 12px/12px sans-serif;
  height: auto;
  padding: 0;
}
.spud_media_picker_option_dimensions input{
  width: 50px;
}